---
layout: default
---

<style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>

<div class="container">
  <h1>404</h1>
  <img src="/assets/morbo.png" alt="Page not found" style="max-width: 300px;">
  <p><strong>Page not found </strong></p>
  <p>The requested page could not be found.</p>
  <a href="/index">Go back</a>
</div>
