---
# Feel free to add content and custom Front Matter to this file.

layout: home
title: Interviews
group: "navigation"
permalink: /interviews
pagination: 
  enabled: true
  per_page: 5
  category: Interview
---

<h1>{{ page.title }}</h1>

<ul class="posts_list">
{% for post in paginator.posts %}
  <li>
    <a href="{{ post.url | relative_url }}" class="post-link">
    <h2><span>{{ post.date | date_to_string }}</span>{{ post.title | escape }}</h2>
    </a>
  </li>
{% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}

<!-- pagination if we fix it-->
<!-- {% if paginator.total_pages > 1 %}
<div class="pager_numeric"> 
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="/">{{ page }}</a>
    {% else %}
      <a href="{{ paginator.page_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &rarr;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %} -->