---
# Feel free to add content and custom Front Matter to this file.

layout: home
title: Reviews
group: "navigation"
permalink: /reviews
pagination: 
  enabled: true
  per_page: 5
  category: Review
---

<h1>{{ page.title }}</h1>

<ul class="posts_list">
{% for post in paginator.posts %}
  <li>
    <a href="{{ post.url | relative_url }}" class="post-link">
    <h2><span>{{ post.date | date_to_string }}</span>{{ post.title | escape }}</h2>
    </a>
  </li>
{% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}