<header>
    <a class="logo" href="{{ "/" | relative_url }}" title="{{ site.title }}">
        {% svg /assets/logo.svg width=100 height=100 %}
    </a>

    <nav>
        <ul>
            {% if site.store_link %}
              <li><a href="{{ site.store_link }}" target="_blank">Store</a></li>
            {% endif %}
            <li><a href="{{ "/interviews" | relative_url }}">Interviews</a></li>
            <li><a href="{{ "/reviews" | relative_url }}">Reviews</a></li>
            {% if site.spotify_link %}
              <li><a href="{{ site.spotify_link }}" target="_blank">Spotify</a></li>
            {% endif %}
            {% if site.bandcamp_link %}
              <li><a href="{{ site.bandcamp_link }}" target="_blank">Bandcamp</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
