<div class="latest_album">
    <span>Latest Release: </span>

    <a href="https://infactedrecordings.bandcamp.com/album/defence-readiness-condition-1" target="_blank" class="btn">
        Defence Readiness : Condition 1
    </a>
</div>
