<div class="product_box">
    <div>
        <a target="_blank" href="https://preemptivestrike01.bigcartel.com/product/marauders-from-earth-t-shirt">
            <img src="images/apparel/marauders_tshirt.jpg">
        </a>
    </div>

    <div>
        <a target="_blank" href="https://preemptivestrike01.bigcartel.com/product/marauders-from-earth-t-shirt">MARAUDERS T-SHIRT</a>

        <span>
            New luxurious limited(only 30 collectors' items) PREEMPTIVE STRIKE 0.1 t-shirt "MARAUDERS FROM EARTH" !
        </span>

        <a class="purchase_cta" target="_blank" href="https://preemptivestrike01.bigcartel.com/product/marauders-from-earth-t-shirt">BUY MARAUDERS T-SHIRT</a>
    </div>
</div>
