@charset "utf-8";

// Define defaults for each variable.

$base-font-family: 'Source Sans Pro', sans-serif !default;
$base-mono-family: 'Source Code Pro', monospace !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$white: #fff;
$black: #191F18;

$text-color:       $white !default;
$background-color: #F1F4F8 !default;
$brand-color:      #5A6F56 !default;

$grey-color:       #ced4cd !default;
$grey-color-light: #f8f9f8 !default;
$grey-color-dark:  #2e3126 !default;

// Import partials.
@import
  "particles/mixins",
  "particles/base",
  "particles/layout",
  "particles/header",
  "particles/footer",
  "particles/posts",
  "particles/pagination",
  "particles/helpers"
  ;
