<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="content">
        {{ content }}
      </div>
    </main>

    <aside>
      {%- include latest_release.html -%}

      <div class="latest_news">
        <ul>
          {% for post in site.posts limit:3 %}
            <li>
              <span>{{ post.categories }}</span>

              <a href="{{ BASE_PATH }}{{ post.url }}">
                {{ post.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </aside>

    {%- include footer.html -%}
  </body>
</html>
