---
layout: default
---

<div class="content">
  <article>
    <h1>{{ page.title }}</h1>
    <span class="date">{{ page.date | date_to_string }}</span>
    {{ content }}
  </article>

  <div class="pager">
    {%- if page.previous -%}
      <a href="{{ page.previous.url }}">&larr; Previous</a>
    {%- endif -%}{%- if page.next -%}
      <a href="{{ page.next.url }}">Next &rarr;</a>
    {%- endif -%}</div>