/**
* Box sizing essentials
*/
*,
*:after,
*:before {
  @include content-box-sizing;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  //
  //  ___          _                             _
  // | _ ) __ _ __| |____ _ _ _ ___ _  _ _ _  __| |
  // | _ \/ _` / _| / / _` | '_/ _ \ || | ' \/ _` |
  // |___/\__,_\__|_\_\__, |_| \___/\_,_|_||_\__,_|
  //                  |___/
  //
  background: 50% 50% url(../assets/defence_rediness_condition_1.jpg) $black no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  -webkit-font-feature-settings: "kern" 1;
  -webkit-text-size-adjust: 100%;
  color: $text-color;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  min-height: 100vh;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: calc($spacing-unit / 2);
}


/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */

  p,
  li {
    font-size: em(20);
    margin: 0 0 em(28, 20);
    line-height: 1.58;
    letter-spacing: -.003em;
  }
}

strong {
  font-weight: 600;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/**
 * Lists
 */
li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
  font-family: $base-mono-family;
  line-height: 1.15;
  letter-spacing: -.015em
}

h1 {
  font-size: em(45);
  font-weight: 700;
}

h2 {
  font-size: em(30);

}

h3 {
  font-size:  em(24);
  font-weight: 600;
}


hr {
  border: none;
  border-top: 1px solid $brand-color;
  margin: 2em auto;
  width: 100%;
}

/**
 * Links
 */
a {
  @include transition (.2s ease-in-out);
  color: $white;
  text-decoration: underline;

  &:hover {
    color: $grey-color;
    text-decoration: underline;
  }
}

.btn {
  border-radius: em(45, 18);
  border: 2px solid $white;
  display: inline-block;
  font-size: em(18);
  margin: em(10, 18) 0;
  padding: em(18, 18) em(24, 18);
  text-decoration: none;

  &:hover {
    background: $grey-color-dark;
    border: 2px solid $grey-color-dark;
    text-decoration: none;
  }
}

ul {
  list-style: none;
  margin: 0;
}
