// Footer styling
footer {
  color: $grey-color;
  font-size: $small-font-size;
  opacity: .6;
  text-align: center;
  width: 100%;

  p {
    margin: 0 auto em(10, 14);

    @media only screen and (min-width: em(1000)) {
        margin: em(50, 14) 0 em(10, 14);
    }
  }
}