// Header styling
header {
  align-content: center;
  align-items: center;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: em(50);

  @media only screen and (min-width: em(1000)) {
    justify-content: flex-end;
  }

  .logo {
    color: $brand-color;
    display: block;
    margin: 0 auto;
    max-width: em(100);
    width: 100%;

    @media only screen and (min-width: em(1000)) {
      left: em(50);
      margin: 0;
      position: fixed;
      top: em(50);
    }

    p {
      font-size: em(36);
      font-weight: 700;
      line-height: em(30, 36);
      margin: em(10, 36) 0 0;
    }
  }

  nav {
    ul {
      list-style: none;
      margin: em(20) auto 0;
      text-align: center;
      width: 100%;

      @media only screen and (min-width: em(711)) {
        margin: 0;
      }

      li {
        color: $white;
        display: inline-block;
        font-size: em(18);
        margin: 0 em(20);
        text-transform: uppercase;

        a {
          text-decoration: none;
        }

        @media only screen and (min-width: em(711)) {
          margin: 0 0 0 em(20);
          &:first-child {
            margin: 0;
          }
        }
      }
    }
  }
}