div.product_box {
  display: flex;
  border: 1px $text-color solid;
  background-color: rgba(0, 0, 0, 0.3);

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 0 1em 0;

    &:first-child {
      margin-right: 1.5em;
    }

    img {
      max-width: 80%;
      max-height: 20em;
      margin: 1em 2em auto 1em;
    }

    a {
      font-size: larger;

      &.purchase_cta {
        color: $black;
        background-color: $text-color;
        font-weight: 600;
        padding: 0.5em 1em 0.5em 1em;
        text-align: center;
        line-height: 1.25em;
        text-decoration: solid;
        margin: 0.75em auto 0.5em auto;
        &:hover,
        &focus {
          text-decoration: underline;
        }
      }
    }

    span {
      text-justify: inter-word;
      text-align: justify;
      padding-right: 1em;
    }
  }
}
