// Layout elements positioning

body {
  display: grid;
  grid-template-columns: repeat(6, 1fr) ;
  grid-template-rows: minmax(auto, em(200)) repeat(2, auto);
}

header,
footer {
  grid-column: span 6; 
}


main {
  grid-column: span 6;

  @media only screen and (min-width: em(1000)) {
    grid-column: 3 / -1;
  }
}

aside {
  grid-column: span 6;

  @media only screen and (min-width: em(1000)) {
    grid-column: 1 / 3;
  }
}

// Layout elements styling 

aside {
  margin: em(30) 0 0;
  padding: 0 em(20);

  @media only screen and (min-width: em(1000)) {
    padding: 0 0 0 em(50);
    position: fixed;
    top: 250px;
  }

  .latest_album {
    span {
      color: $white;
      display: block;
      padding-left: em(30);
    }
  }

  .latest_news {
    font-size: em(18);
    margin: em(50) 0 ;

    ul {
      list-style: none;
      margin: 0;

      li {
        margin: 0 0 em(24, 18);
        max-width: em(245, 18);

        span {
          color: $brand-color;
          display: block;
        }

        a {
          font-family: $base-font-family;
        }
      }
    }
  }
}

main {
  margin: em(50) 0 0; 
  padding: 0 em(20);

  @media only screen and (min-width: em(1000)) {
    padding: 0 em(50);
  }

  article {
    max-width: em(700);

    h1 {
      line-height: 1.1em;
    }  

    ul {
      margin: em(10, 20) 0;
    }
  }
}