// Mixins, animations and effects

@mixin content-box-sizing {
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

// (EM) Function for pixels to ems
$em-base: 16; // Default
@function em($pxval, $base: $em-base) {
    @if not unitless($pxval) {
        $pxval: strip-units($pxval);
    }
    @if not unitless($base) {
        $base: strip-units($base);
    }
    @return calc($pxval / $base) * 1em;
}

//Transition
@mixin transition($values...) {
    -moz-transition: $values;
    -ms-transition: $values;
    -o-transition: $values;
    -webkit-transition: $values;
    transition: $values;
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -ms-transform: $transforms;
    -o-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin rotate ($deg) {
    @include transform(rotate(#{$deg}deg));
}

// Shadows
@mixin shadow-z0 {
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .06);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .06);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .06);
}

@mixin shadow-z1 {
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,.2);
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.2);
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}

// Simple fade animation, just extend the class on the element you want to fade in
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}