// Pagination formatting

// Single prev/next styles

.pager {
  width: 100%;
  display: flex;
  max-width: em(700);
  justify-content: space-between;

  a {
    @extend .btn;
    border-radius: 3px;
    padding: em(10, 18);
    border: 2px solid $grey-color-dark;
    color: $grey-color;
    background: rgba($black, .5);
    
    &:hover {
      border: 2px solid $brand-color;
      background: $black;
      color: $white;
    }
  }
}

// Numeric pagination styles

.pager_numeric {
  text-align: center;

  a, span {
    @extend .btn;
    background: rgba($black, .5);
    border-radius: 3px;
    border: 2px solid $grey-color-dark;
    color: $grey-color;
    padding: em(10, 18);
  }

  a:hover {
    border: 2px solid $brand-color;
    background: $black;
    color: $white;
  }

  span:hover {
    background: inherit;
  }
}