// Post formatting

// Post listing

.posts_list {
  font-weight: normal;
  list-style: none;
  margin: 0;

  li {
    
    a {
      background: rgba($black, .5);
      border-radius: 5px;
      border: 2px solid $grey-color-dark;
      display: block;
      font-family: $base-font-family;
      margin: em(30) 0;
      padding: em(30);
      width: auto;
      text-decoration: none;

      &:hover {
        background: $black;
        text-decoration: none;
      }

      span {
        color: $grey-color;
        display: block;
        font-size: em(20);
        opacity: .3;
      }

      h2 {
        span {
          color: $brand-color;
          font-size: em(12);
          opacity: 1;
        }
      }
    }
  }
}